body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 110px 1fr;
    font-family: 'Montserrat', sans-serif;
}

.grid {
    display: grid;
    grid-column: span 1;
}

aside {
    background: rgb(51, 51, 51);
    line-height: 2;
}

.one {
    display: grid;
    justify-content: center;
    align-items: center;
}

h6 {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.two {
    background: url(bckg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid white;
}

h1 {
    font-size: 52px;
    font-weight: bold;
    color: white;
    padding: 75px;
    text-align: center;
    position: relative;
    top: 125px;
}

.yellow {
    color: yellow;
}

h5 {
    font-size: 18px;
    color: white;
    text-align: center;
    position: relative;
    top: 120px;
    font-weight: bold;
}

p {
    color: white;
}

form {
    display: none;
}

input {
    display: none;
    border-radius: 25px;
    margin: 10px;
    height: 25px;
    width: 300px;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

button {
    display: none;
    position: relative;
    left: 350px;
    bottom: 37px;
    z-index: 10;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#render {
    margin: 20px;
}