body {
    height: 100vh;
}

header {
    background: blue;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 30px 20px 10px 0px;
    text-align: right;
}

aside {
    background: gray;
    line-height: 2;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.commands {
    margin-top: 300px;
    margin-left: 15px;
}

h6 {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

form {
    display: none;
    margin-left: 200px;
    margin-top: 200px;
}

input {
    display: none;
    border-radius: 25px;
    margin: 10px;
    height: 25px;
    width: 300px;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

button {
    display: none;
    position: relative;
    left: 350px;
    bottom: 37px;
    z-index: 10;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* .button {
    border: none;
    background-color: white;
    z-index: 2;
} */

#render {
    margin: 150px;
}